@import url("./reset.css");

#header {position:relative;display:block;*width:100%;height:145px;clear:both;padding-bottom:65px;}
#header .header_l {height:145px;background:#0e4c9d;}
#header .header_r {height:145px;background:#229fcd;}
#header .header_wrap {position:absolute;width:980px;min-width:980px;height:145px;left:50%;margin-left:-490px;}
.logo_bg {width:372px;height:145px;background:#0e4c9d;}
.logo_bg img {margin:56px 0px 0px 0px;}

.content_wrap {position:relative;width:980px;min-width:980px;min-height:500px;margin:0 auto;clear:both;overflow:hidden;}
.content_wrap:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}
#leftmenu {width:245px;}
#leftmenu .title {height:93px;}
#leftmenu ul li {height:42px;}
.content {width:735px;}

.main_wrap {position:relative;width:980px;min-width:980px;min-height:500px;margin:0 auto;clear:both;overflow:hidden;}
.main_img img {padding-bottom:120px;}

#copyright {position:relative;display:block;*width:100%;height:145px;background:#d9d9d9;clear:both;}
#copyright .copy_wrap {position:relative;width:980px;min-width:980px;min-height:145px;overflow:hidden;clear:both;margin:0 auto;}
#copyright .copy_img {position:relative;width:980px;min-width:980px;min-height:100px;overflow:hidden;clear:both;margin:0 auto;}
#copyright .copy_img img {padding:57px 0px 0px 2px;}

#copyright .counter {position:relative;width:980px;min-width:980px;min-height:45px;overflow:hidden;clear:both;margin:0 auto;}




.dd_wrap {display:block;*width:99.8%;clear:both;}
.dd_wrap:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}

.d_wrap img {border:0 none;}

.d_page_a {position:relative;width:733px;min-width:733px;height:93px;clear:both;border:1px solid #ddd}
.d_page_a:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}

.d_page_a_left {position:relative;width:243px;min-width:243px;height:93px;background-color: #efefef;}
.d_page_a_left:after {display:block;height:0;content:".";font-size:0;visibility:hidden;}

.d_page_a_left .title{position:absolute;top:50%;left:50%;margin: -10px 0 0 -45px;width:80px;min-width:85px;height:30px;font-size: 20px;font-weight: bold;}
.d_page_a_left .title:after {display:block;height:0;content:".";font-size:0;visibility:hidden;}

.d_page_a_right {position:relative;width:490px;min-width:490px;height:93px;}
.d_page_a_right:after {display:block;height:0;content:".";font-size:0;visibility:hidden;}

.d_page_a_right .select_1{position:absolute;top:50%;left:50%;margin: -20px 0 0 -114px;width:227px;min-width:227px;height:41px}
.d_page_a_right .select_1:after {display:block;height:0;content:".";font-size:0;visibility:hidden;}

.d_page_a_right .select{position:absolute;top:50%;;margin: -20px 0 0 14px;width:227px;min-width:227px;height:41px}
.d_page_a_right .select:after {display:block;height:0;content:".";font-size:0;visibility:hidden;}

.d_page_a_right .select2{position:absolute;top:50%;left:50%;margin: -20px 0 0 5px;width:227px;min-width:227px;height:41px}
.d_page_a_right .select2:after {display:block;height:0;content:".";font-size:0;visibility:hidden;}

.d_page_b {position:relative;width:735px;min-width:735px;height:23px;clear:both;margin-top:46px;}
.d_page_b:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}

.d_page_c {position:relative;width:735px;min-width:735px;height:800px;clear:both;margin-top:13px;}
.d_page_c:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}

.d_page_d {position:relative;width:735px;min-width:735px;height:463px;clear:both}
.d_page_d:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}


.text_wrap {display: block;clear: both;margin:10px 0 20px 0;}
.d_dlc {position:relative;width:135px;min-width:135px;margin:20px auto 0px}
.d_dlc2 {position:relative;width:135px;min-width:135px;margin:0 auto;}


#map2 {position:absolute; top:0; left:0; cursor:move; width:99.8%;}
#map3 {position:absolute; top:0; left:0; cursor:move; width:99.8%;}

/* 
** Form 
*/
input.d_form, textarea.d_form, select.d_form_custom {margin:0.5em 0;} 
input[type="text"].d_form, 
input[type="search"].d_form, 
input[type="password"].d_form, 
textarea.d_form, 
select.d_form_custom {padding:0.5em;border:1px solid #ccc;border-color:#dbdbdb #d2d2d2 #d0d0d0 #d2d2d3;box-shadow:inset 0.1em 0.1em 0.15em rgba(0,0,0,0.1);vertical-align:middle;line-height:1.25em;outline:none;}
select.d_form_custom {min-width:227px;height:2.45em;padding:0.45em 0.5em;box-shadow:none;line-height:2.45em;}
input[type="text"].d_form, input[type="search"].d_form, input[type="password"].d_form {height:1.25em;}
input[type="text"].d_form:focus, input[type="search"].d_form:focus, input[type="password"].d_form:focus,textarea.d_form:focus {border-color:#6b9de9}

/* label */
label {margin:0 0.75em 0 0;}
label > input[type="text"].d_form, 
label > input[type="password"].d_form,
label > input[type="search"].d_form,
label > input[type="radio"].d_form,
label > input[type="checkbox"].d_form,
label > textarea.d_form,
label > select.d_form_custom {margin:0.5em;}

/*
** tab 
*/


/* tab_bar */
/*.tab_bar2 {display:block;*width:735px;margin:1em 0 1.5em;border-bottom:2px solid #0e4c9d;background:#f7f7f7;clear:both;}*/
/*.tab_bar2:after {display:block;content:".";font-size:0;visibility:hidden;clear:both;}*/
/*.tab_bar2 > li {float:left;margin:0 0 -2px 0;width:245px;}*/
/*.tab_bar2 > li > a {display:block;padding:0.75em 2.5em;text-align:center;color:#666;border-width:0;font-weight:bold;border-top:1px solid #dadadc;}*/
/*.tab_bar2 > li > a:hover {color:#0e4c9d;}*/
/*.tab_bar2 > li:first-child > a {border-left:none}*/
/*.tab_bar2 > li:last-child {width:245px;}*/
/*.tab_bar2 > li.on > a {border-top:2px solid #0e4c9d !important;border-left:2px solid #0e4c9d;border-right:2px solid #0e4c9d;border-bottom:1px solid transparent;background:#fff;color:#0e4c9d;font-weight:bold;}*/
/*.tab_bar2 > li.f_r > a {border-right:none;}*/
/*.tab_bar2 > li.t_s > a {border-left:1px solid #dadadc;}*/
/*.tab_bar2 > li.t_e > a {border-right:1px solid #dadadc;}*/
/*.tab_bar2 > li.t_s.on > a {border-left:2px solid #0e4c9d;}*/
/*.tab_bar2 > li.t_e.on > a {border-right:2px solid #0e4c9d;}*/
.tab_bar2 {display:block;*width:735px;margin-bottom: 15px;clear:both;}
.tab_bar2:after {display:block;content:".";font-size:0;visibility:hidden;clear:both;}
.tab_bar2 > li {float:left;margin:0;padding:0;width:245px;height:41px;}

.tab_bar2 > li a {display:block;overflow:hidden;position:relative;width:245px;height:41px;margin:-1px;padding:1px;font-size:12px;text-indent:-9999px}
.tab_bar2 > li a .li_span_1{cursor:pointer;display:block;position:absolute;top:1px;left:1px;width:245px;height:41px;background:url(./tab/tab.png) 0 0 no-repeat}
.tab_bar2 > li a .li_span_2{cursor:pointer;display:block;position:absolute;top:1px;left:1px;width:245px;height:41px;background:url(./tab/tab.png) -245px 0 no-repeat}
.tab_bar2 > li a .li_span_3{cursor:pointer;display:block;position:absolute;top:1px;left:1px;width:245px;height:41px;background:url(./tab/tab.png) -490px 0 no-repeat}

.tab_bar2 > li a .li_span_1:hover,.tab_bar2 > li.on a .li_span_1 {background:url(./tab/tab.png) 0 -41px no-repeat}
.tab_bar2 > li a .li_span_2:hover,.tab_bar2 > li.on a .li_span_2 {background:url(./tab/tab.png) -245px -41px no-repeat}
.tab_bar2 > li a .li_span_3:hover,.tab_bar2 > li.on a .li_span_3 {background:url(./tab/tab.png) -490px -41px no-repeat}

#tab_1, #tab_2, #tab_3 {margin-bottom:150px;}

#tab_img_2 {position:relative;width:99.6%; height:1000px;overflow:hidden;border:1px solid #f3f3f3;}
#tab_img_3 {position:relative;width:99.6%; height:1000px;overflow:hidden;border:1px solid #f3f3f3;}


.tab_bar3 {display:block;*width:735px;margin-bottom: 15px;clear:both;}
.tab_bar3:after {display:block;content:".";font-size:0;visibility:hidden;clear:both;}
.tab_bar3 > li {float:left;margin:0;padding:0;width:245px;height:41px;}

.tab_bar3 > li a {display:block;overflow:hidden;position:relative;width:245px;height:41px;margin:-1px;padding:1px;font-size:12px;text-indent:-9999px}
.tab_bar3 > li a .li_span_1{cursor:pointer;display:block;position:absolute;top:1px;left:1px;width:245px;height:41px;background:url(./03_tab/tab.png) 0 0 no-repeat}
.tab_bar3 > li a .li_span_2{cursor:pointer;display:block;position:absolute;top:1px;left:1px;width:245px;height:41px;background:url(./03_tab/tab.png) -245px 0 no-repeat}
.tab_bar3 > li a .li_span_3{cursor:pointer;display:block;position:absolute;top:1px;left:1px;width:245px;height:41px;background:url(./03_tab/tab.png) -490px 0 no-repeat}

.tab_bar3 > li a .li_span_1:hover,.tab_bar3 > li.on a .li_span_1 {background:url(./03_tab/tab.png) 0 -41px no-repeat}
.tab_bar3 > li a .li_span_2:hover,.tab_bar3 > li.on a .li_span_2 {background:url(./03_tab/tab.png) -245px -41px no-repeat}
.tab_bar3 > li a .li_span_3:hover,.tab_bar3 > li.on a .li_span_3 {background:url(./03_tab/tab.png) -490px -41px no-repeat}

/* forej 異붽� */
#s_left_options {color:gray; font-weight: bold; font-size: 15px;}
